@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'aptos';
  src: url(../fonts/aptos.ttf) format('truetype');
}

@font-face {
  font-family: 'aptos';
  src: url(../fonts/aptos-light.ttf) format('truetype');
  font-weight: thin;
}

@font-face {
  font-family: 'aptos';
  src: url(../fonts/aptos-bold.ttf) format('truetype');
  font-weight: bold;
}