@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'aptos';
  src: url(../fonts/aptos.ttf) format('truetype');
}

@font-face {
  font-family: 'aptos';
  src: url(../fonts/aptos-light.ttf) format('truetype');
  font-weight: thin;
}

@font-face {
  font-family: 'aptos';
  src: url(../fonts/aptos-bold.ttf) format('truetype');
  font-weight: bold;
}

.thing-enter {
  transform: translateY(100px);
  opacity: 0;
}

.thing-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
}
