@font-face {
  font-family: 'aptos';
  src: url(./fonts/aptos.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'aptos';
  src: url(./fonts/aptos-light.ttf) format('truetype');
  font-weight: thin;
  font-display: swap;
}

@font-face {
  font-family: 'aptos';
  src: url(./fonts/aptos-bold.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}